
// Frameworks
// -------------------------

@import "bootstrap";


// Variables
// -------------------------

@import "variables";


// Fonts
// -------------------------

@import "fonts";


// Components
// -------------------------

@import (less) "flexslider.css";


// Partials
// -------------------------

@import "mixins";
@import "utils";
@import "planner";

// Main styles
// -------------------------

// Animated links
//

a {
  .transition(~"color 120ms linear");
}

// Default section margins
//

body > header,
body > section {
  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed;
}

// Alternate sections
//

section.alternate {
  background-color: white;

  padding-top: @line-height-computed;
  padding-bottom: @line-height-computed;
}

// Alternate rows
.row.alternate {
  #gradient > .horizontal-three-colors(white, @near-white, 50%, white);
  border: 1px solid @hr-border;
  border-width: 1px 0;
}

// Site title
//

body > header h1 {
  font-family: @font-family-base;
  font-size: @font-size-h3;
}

// Header nav
//

body > header nav {
  margin-top: @line-height-computed;
}

// Process illustration
//

#about figure {
  figcaption {
    border: 1px solid @hr-border;
    border-width: 1px 0;

    padding-top: @line-height-computed;
    padding-bottom: @line-height-computed;

    font-size: @font-size-large;
  }
}

// Product tabs
//

#products a[data-toggle="tab"] {
  img {
    .scale(.96);
    .transition(~"all 120ms ease-in-out");
  }
  &:hover,
  &:focus {
    color: @gray-darker;
    text-decoration: none;
    img {
      .scale(1);
    }
  }
}

// Responsive product tab panes
//

@media (max-width: @grid-float-breakpoint) {
  #products .tab-content > .tab-pane {
    display: block;
    &.fade {
      opacity: 1;
    }
  }
}

// Footer
//

footer {
  .support {
    font-size: @font-size-h3;
  }
  .social {
    font-size: @font-size-large;
  }
}

