
/*
 * Font styles
 */

.baseFontFamily() {
  font-family: @baseFontFamily;
}

.altFontFamily() {
  font-family: @altFontFamily;
  font-style: normal;
  font-weight: normal;

  // Force some antialias
  text-shadow: 0 0 1px rgba(0,0,0,0.2);

  // Antialias for links
  a {
    text-shadow: 0 0 1px fade(@linkColor, 20%);
  }
}

/*
 * Inline list
 */

.list-inline(@margin: .5em, @separator: ~'1px solid rgba(0,0,0,.2)') {
  .list-unstyled;

  li {
    border-left: @separator;

    display: inline-block;
    padding-left: @margin;
    margin-left: @margin;

    &:first-child {
      border: none;
      padding-left: 0;
      margin-left: 0;
    }
  }
}

/*
 * Table colum span
 */
.column-span(@span: all) {
  column-span: @span;
  -webkit-column-span: @span;
  -moz-column-span: @span;
  -ms-column-span: @span;
  -o-column-span: @span;
}

/*
 * Fixes transition flicker on items using CSS transitions
 */
.fixTransitionFlicker() {
  // http://stackoverflow.com/a/3461770/222245
  // http://stackoverflow.com/questions/3461441/prevent-flicker-on-webkit-transition-of-webkit-transform

  -webkit-transform:translate3d(0,0,0);
  // -webkit-perspective: 1000; // Appears to add another kind of flicker when hovered
  // -webkit-backface-visibility: hidden;
}
