
/*
 * Basic planner layout
 */
#planner {

  /* Colors */
  background-color: darken(@body-bg, 4%);
  border-top: 1px solid darken(@body-bg, 8%);
  border-bottom: 1px solid darken(@body-bg, 12%);
}

/* Min height */
#stage {
  margin-top: @line-height-computed;
  min-height: 550px;
}

/*
 * Throbber
 */
#stage {
  position: relative;

  .throbber {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -(@line-height-computed);
    margin-left: -100px;
  }
}

/*
 * Options
 */
#planner .options {

  /* Box */
  border: 3px double @hr-border;
  padding: @line-height-computed;
  margin-top: @line-height-computed;

  /* Smaller font */
  font-size: @font-size-small;

  /* Line up elems */
  > label {
    display: block;
    margin-bottom: (.5 * @line-height-computed);
  }
  > fieldset {
    border: none;

    padding: 0;
    margin: (.5 * @line-height-computed) 0;

    &.horizontal {
      .clearfix();

      label {
        border-top: 2px solid transparent;

        float: left;
        clear: right;
        width: 55%;
        padding: (.25 * @line-height-computed) 0 (.25 * @line-height-computed);

        line-height: (3 * @line-height-computed);
        vertical-align: middle;

        .text-overflow();
      }
      input,
      select {
        float: right;
        width: 40%;
      }
      select {
        margin-top: .75rem;
      }
    }
  }

  /* Style inputs */
  input[type='text'] {
    background-color: @body-bg;
    border: 1px solid darken(@body-bg, 16%);
    border-radius: (2 * @border-radius-base);
  }
}

/*
 * Legend
 */
#planner .legend {
  border-top: 1px solid darken(@body-bg, 16%);
  padding-top: @line-height-computed;
  margin-top: @line-height-computed;
  margin-bottom: @line-height-computed;

  font-size: @font-size-small;

  strong,
  label {
    margin-right: 1em;
  }
}

/*
 * Order
 */
#planner .order {

  margin-top: @line-height-computed;

  #total-estimate {
  }

  h2 {
    margin-bottom: 0;
  }
}
