
// Vertical rhythm helpers
//

.row-before-1 {
  margin-top: @line-height-computed;
  @media (max-width: @grid-float-breakpoint) {
    margin-top: (.5 * @line-height-computed);
  }
}
.row-before-2 {
  margin-top: (2 * @line-height-computed);
  @media (max-width: @grid-float-breakpoint) {
    margin-top: @line-height-computed;
  }
}
.row-before-3 {
  margin-top: (3 * @line-height-computed);
  @media (max-width: @grid-float-breakpoint) {
    margin-top: (1.5 * @line-height-computed);
  }
}
.row-before-4 {
  margin-top: (4 * @line-height-computed);
  @media (max-width: @grid-float-breakpoint) {
    margin-top: (2 * @line-height-computed);
  }
}

.row-after-1 {
  margin-bottom: @line-height-computed;
  @media (max-width: @grid-float-breakpoint) {
    margin-bottom: (.5 * @line-height-computed);
  }
}
.row-after-2 {
  margin-bottom: (2 * @line-height-computed);
  @media (max-width: @grid-float-breakpoint) {
    margin-bottom: @line-height-computed;
  }
}
.row-after-3 {
  margin-bottom: (3 * @line-height-computed);
  @media (max-width: @grid-float-breakpoint) {
    margin-bottom: (1.5 * @line-height-computed);
  }
}
.row-after-4 {
  margin-bottom: (4 * @line-height-computed);
  @media (max-width: @grid-float-breakpoint) {
    margin-bottom: (2 * @line-height-computed);
  }
}

// Emphasized text
//
.emphasize {
  font-style: italic;
}

// Radio inputs replaced by images
//

.input-radio-image {

  // Enable absolutely positioned input
  display: inline-block;
  position: relative;

  // Hide label text
  label {
    .hide-text();
    display: inline-block;
  }

  // Hide input, but keep it clickable
  input {
    // Remove from flow
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;

    // Hide input
    opacity: 0;

    // Make clickable surface stretch across the whole parent
    width: 100%;
    height: 100%;
  }

  // Unique images
  &#shape-1 label {
    background-image: url('../img/shape-1.png');
    width: 16px;
    height: 22px;
  }
  &#shape-1 input:checked + label {
    background-image: url('../img/shape-1-active.png');
  }
  &#shape-2 label {
    background-image: url('../img/shape-2.png');
    width: 24px;
    height: 22px;
  }
  &#shape-2 input:checked + label {
    background-image: url('../img/shape-2-active.png');
  }
  &#shape-3 label {
    background-image: url('../img/shape-3.png');
    width: 24px;
    height: 22px;
  }
  &#shape-3 input:checked + label {
    background-image: url('../img/shape-3-active.png');
  }
  &#shape-4 label {
    background-image: url('../img/shape-4.png');
    width: 40px;
    height: 22px;
  }
  &#shape-4 input:checked + label {
    background-image: url('../img/shape-4-active.png');
  }
  &#shape-5 label {
    background-image: url('../img/shape-5.png');
    width: 64px;
    height: 22px;
  }
  &#shape-5 input:checked + label {
    background-image: url('../img/shape-5-active.png');
  }
}

