
/*
 * Typography
 * Roughly a 3:5 Fibonacci scale: 12, 14, 24, 36 (see http://lamb.cc/typograph/)
 */
$base-font-family:        unquote('PT Sans, sans-serif');
$base-font-size:          13px;
$base-line-height:        1.2;

$small-font-size:         11px;
$large-font-size:         20px;
$xlarge-font-size:        30;


/*
 * Colors
 */
$bg-color:                white;
$text-color:              #514b46;  // Dark tan

$decor-bg-color:          #aacc87;  // Light green
$decor-text-color:        #364328;  // Dark green

$link-color:              #484fa3;  // Logo blue
$link-hover-color:        lighten( $link-color, 20% );
$link-active-color:       darken( $link-color, 20% );
$link-visited-color:      $link-color;
$link-focus-color:        $link-active-color;


/*
 * Measurements
 */
$min-page-width:          748px;
$max-page-width:          1218px;

$base-hmargin:            $base-font-size * $base-line-height; // ~18px
$base-vmargin:            $base-hmargin;


/*
 * Compass defaults
 */
$default-transition-duration:     .4s;
$default-border-radius:           2px;
