
/*
 * General styles
 */
body {
  background: darken( $bg-color, 5% );
  color: $text-color;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
  @include hover-link;
}

/*
 * Main layout
 */
#header,
#footer {
  padding-left: .5 * $base-hmargin;
  padding-right: .5 * $base-hmargin;
  position: absolute;
  left: 0;
  right: 0;
  .nav {
    margin-left: 1.5 * $base-hmargin;
    .nav-items {
      @include nav-list;
    }
  }
}
#header {
  top: 0;
  z-index: 30;
}
#footer {
  bottom: 0;
  z-index: 20;
}
#main {
  padding-left: .5 * $base-hmargin;
  padding-right: .5 * $base-hmargin;
  position: absolute;
  top: 4 * $base-vmargin;
  bottom: $base-vmargin;
  left: 1.5 * $base-hmargin;
  right: 1.5 * $base-hmargin;
  z-index: 10;
  .primary {
    @include border-radius(2px);
    @include box-sizing(border-box);
    @include single-box-shadow(rgba(black,.2), 0, 2px, 2px);
    background: $bg-color;
    padding-left: $base-hmargin;
    padding-right: $base-hmargin;
    max-height: 80%;
    overflow: scroll;
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    html.rgba & {
      background: rgba(white, .9);
    }
    body.ritverktyg & {
      width: 93.5%;
    }
  }
}
#slideshow-controls {
  position: absolute;
  top: 40%;
  left: 0;
}


/*
 * Header section
 */
#header {
  border-top: .5 * $base-vmargin solid $bg-color;
  a {
    @include unstyled-link;
  }
  .nav {
    .nav-items {
      .nav-item {
        a {
          @include button( inverted );
          @include border-bottom-radius(2px);
          @include single-box-shadow(rgba(black,.2), 0, 2px, 2px);
          margin-right: .5 * $base-hmargin;
        }
        &.nav-item-home {
          a {
            font-size: $large-font-size;
          }
        }
        &.nav-item-davidhall,
        &.nav-item-ribersborg {
          a {
            background-color: $decor-bg-color;
            color: $decor-text-color;
            &:hover {
              background-color: $bg-color;
              color: $text-color;
            }
          }
        }
        &.nav-item-davidhall,
        &.nav-item-ribersborg,
        &.nav-item-funkar,
        &.nav-item-ritverktyg,
        &.nav-item-kontakt {
          a {
            padding-top: 16px;
            margin-top: -3px;
            text-transform: uppercase;
          }
        }
        &.nav-item-selected {
          a {
            background: $bg-color;
            color: $text-color;
          }
        }
      }
    }
  }
}

/*
 * Main section
 */
#slideshow-controls {
  a {
    @include unstyled-link;
  }
  .button-control {
    @include button;
    text-transform: uppercase;
    &.play-toggle {

    }
  }
}

/*
 * Background graphics
 */
body {
  background: image-url('photos/l/jerker_mg_1956.jpg') no-repeat center center fixed;
  @include background-size(cover);
  &.ribersborg {
    background-image: image-url('photos/l/jerker_mg_3597.jpg');
  }
  &.davidhall {
    background-image: image-url('photos/l/jerker_mg_2004_1.jpg');
  }
  &.funkar {
    background-image: image-url('photos/l/jerker_mg_2013.jpg');
  }
  &.ritverktyg {
    background-image: image-url('photos/l/jerker_mg_3592.jpg');
  }
  &.kontakt {
    background-image: image-url('photos/l/jerker_mg_4071_1.jpg');
  }
}

/*
 * Footer section
 */
#logo {
  @include border-radius(2px);
  @include single-box-shadow(rgba(black,.2), 0, 2px, 2px);
  background: $bg-color;
  position: fixed;
  bottom: $base-vmargin; left: 1.5 * $base-hmargin;
  padding: .5 * $base-vmargin .5 * $base-hmargin; 
  img {
    width: .5 * image-width('jiof-logo.png');
    height: .5 * image-height('jiof-logo.png');
  }
}
