
/*
 * General styles
 */
body {
  background: darken($bg-color, 10%);
  color: $text-color;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-active-color, $link-visited-color, $link-focus-color);
  @include hover-link;
}

/*
 * Main layout
 */
#header {
  padding-left: 1.5 * $base-hmargin;
  padding-right: 1.5 * $base-hmargin;
  position: absolute;
  top: $base-vmargin;
  left: 0;
  right: 0;
  z-index: 30;
  a {
    @include unstyled-link;
  }
  .site-title {
    @include inline-block;
    font-size: $large-font-size;
    font-weight: normal;
    margin: 0;
    padding-top: .5 * $base-vmargin;
  }
  .nav {
    @include inline-block;
    float: right;
    margin-top: 3px;
    .nav-items {
      @include nav-list;
      .nav-item {
        a {
          @include button( inverted );
          margin-left: .5 * $base-hmargin;
          padding-top: 9px;
          text-transform: uppercase;
          line-height: 1;
        }
        &.nav-item-selected {
          a {
            background: $decor-bg-color;
            color: $decor-text-color;
          }
        }
      }
    }
  }
}
#main {
  @include single-box-shadow(darken($bg-color, 30%), 0, 2px, 3px);
  padding-left: .5 * $base-hmargin;
  padding-right: .5 * $base-hmargin;
  position: absolute;
  top: 4 * $base-vmargin;
  bottom: $base-vmargin;
  left: 1.5 * $base-hmargin;
  right: 1.5 * $base-hmargin;
  z-index: 10;
  .primary {
    @include border-radius(2px);
    @include box-sizing(border-box);
    background: $bg-color;
    padding-left: $base-hmargin;
    padding-right: $base-hmargin;
    max-height: 80%;
    overflow: scroll;
    position: absolute;
    top: $base-vmargin;
    right: $base-hmargin;
    width: 30%;
    html.rgba & {
      background: rgba(white, .9);
    }
  }
}


/*
 * Background graphics
 */
#main {
  background: none no-repeat top center fixed;
  @include background-size(cover);
  body.start & {
    background-image: image-url('photos/l/jerker_mg_1956.jpg');
  }
  body.ribersborg & {
    background-image: image-url('photos/l/jerker_mg_3597.jpg');
  }
  body.davidhall & {
    background-image: image-url('photos/l/jerker_mg_2004_1.jpg');
  }
  body.funkar & {
    background-image: image-url('photos/l/jerker_mg_2013.jpg');
  }
  body.kontakt & {
    background-image: image-url('photos/l/jerker_mg_4071_1.jpg');
  }
}

/*
 * Footer section
 */
#logo {
  @include border-radius(2px);
  background: $bg-color;
  position: absolute;
  bottom: 1.5 * $base-vmargin; left: 2 * $base-hmargin;
  padding: .5 * $base-vmargin .5 * $base-hmargin; 
  z-index: 50;
  img {
    -webkit-transition:all 0.6s ease-in-out;
    width: .5 * image-width('jiof-logo.png');
    height: .5 * image-height('jiof-logo.png');
  }
  &.small {
    img {
      width: .1 * image-width('jiof-logo.png');
      height: .1 * image-height('jiof-logo.png');
    } 
  }
}
