
/*
 * General styles
 */
body {
  background: darken($bg-color, 10%);
  color: $text-color;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
}

a {
  color: $link-color;
  &:focus,
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.hidden {
  display: none;
}

/*
 * Main layout
 */
#header, 
#main {
  // The layout is not adapted to work below 768, so offer a scrollbar instead
  min-width: 768px;
}

#header {
  padding-left: 1.5 * $base-hmargin;
  padding-right: 1.5 * $base-hmargin;
  position: absolute;
  top: $base-vmargin;
  left: 0;
  right: 0;
  z-index: 30;

  a {
    @include unstyled-link;
  }
  .site-title {
    @include inline-block;
    font-size: $large-font-size;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding-top: .5 * $base-vmargin;
  }
  .nav {
    @include inline-block;
    float: right;

    margin-top: 3px;
    .nav-items {
      @include nav-list;
      .nav-item {
        a {
          @include button( inverted );
          margin-left: .5 * $base-hmargin;
          padding-top: 9px;
        }
        &.nav-item-selected {
          a {
            @include button( decor );
            padding-top: 9px; // needs to be redeclared
          }
        }
      }
    }
  }
  @media screen and (max-width: 871px) {
    display:block;
    .nav {
      float:left;
      margin-left: 0 -(.5 * $base-hmargin);
      .nav-item {
        margin-bottom:9px;
      }
    }
  }
}
#main {
  @include single-box-shadow(darken($bg-color, 30%), 0, 2px, 3px);
  padding-left: .5 * $base-hmargin;
  padding-right: .5 * $base-hmargin;
  position: absolute;
  top: 4 * $base-vmargin;
  bottom: $base-vmargin;
  left: 1.5 * $base-hmargin;
  right: 1.5 * $base-hmargin;
  z-index: 10;
  .primary {
    @include border-radius(2px);
    @include box-sizing(border-box);
    background: $bg-color;
    padding-left: $base-hmargin;
    padding-right: $base-hmargin;
    max-height: 90%;
    overflow: auto;
    position: absolute;
    top: 5%;
    right: 2%;
    width: 30%;
    min-width: 420px;
    html.rgba & {
      background: rgba(white, .9);
    }
  }
}


/*
 * Background graphics
 */
#main {
  background: none no-repeat top center fixed;
  @include background-size(cover);
  body.start & {
    background-image: image-url('photos/l/jerker_mg_1956.jpg');
  }
  body.ribersborg & {
    background-image: image-url('photos/l/jerker_mg_3597.jpg');
  }
  body.davidhall & {
    background-image: image-url('photos/l/jerker_mg_2004_1.jpg');
  }
  body.funkar & {
    background-image: image-url('photos/l/jerker_mg_2013.jpg');
  }
  body.kontakt & {
    background-image: image-url('photos/l/jerker_mg_4071_1.jpg');
  }
}

/*
 * Footer section
 */
#brochure {
  @include border-radius(2px);
  background: $bg-color;
  position: absolute;
  bottom: 1.5 * $base-vmargin; left: 2 * $base-hmargin;
  padding: .5 * $base-vmargin .5 * $base-hmargin; 
  z-index: 50;
  img {
    -webkit-transition:all 0.6s ease-in-out;
    width: .4 * image-width('brochure.png');
    height: .4 * image-height('brochure.png');
  }
  &.small {
    display: none;
  }
}


/*
 * Media queries
 */
@media screen and (min-width: $break-large) {
  body {
    // This adjusts all font sizes and line-heights across the site
    font-size: $base-font-size * 1.1;
  }
}