
/*
 * General styles
 */
body {
  background: darken( $bg-color, 5% );
  color: $text-color;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
}


/*
 * Main layout
 */
#header,
#footer {
  padding-left: .5 * $base-hmargin;
  padding-right: .5 * $base-hmargin;
  position: absolute;
  left: 0;
  right: 0;
  .nav {
    margin-left: auto;
    margin-right: auto;
    min-width: $min-page-width;
    max-width: $max-page-width;
    .nav-items {
      @include nav-list;
    }
  }
}
#header {
  top: 0;
  z-index: 30;
}
#footer {
  bottom: 0;
  z-index: 20;
}
#main {
  padding-left: .5 * $base-hmargin;
  padding-right: .5 * $base-hmargin;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  .content {
    @include box-sizing( border-box );
    border: 1px solid yellow;
    margin: 0 auto;
    padding: 4 * $base-vmargin 0;
    min-height: 100%;
    min-width: $min-page-width;
    max-width: $max-page-width;
    position: relative;
  }
}
#slideshow-controls {
  position: absolute;
  top: 50%;
  border: 1px solid green;
}


/*
 * Header section
 */
#header {
  border-top: .5 * $base-vmargin solid $bg-color;
  a {
    @include unstyled-link;
  }
  .nav {
    .nav-items {
      .nav-item {
        a {
          @include transition;
          background: $text-color;
          color: $bg-color;
          margin-right: .5 * $base-hmargin;
        }
        &.nav-item-home {
          a {
            font-size: $large-font-size;
          }
        }
        &.nav-item-planner,
        &.nav-item-contact {
          a {
            padding-top: 16px;
            margin-top: -3px;
            text-transform: uppercase;
          }
        }
        &.nav-item-selected {
          a {
            background: $bg-color;
            color: $text-color;
          }
        }
        &:focus,
        &:hover {
          a {
            background: $bg-color;
            color: $text-color;
          }
        }
      }
    }
  }
}

/*
 * Main section
 */
#main {
  @include background-size( cover );
  background: image-url('photos/l/jerker_mg_4065.jpg') center;
}
#slideshow-controls {
  background: rgba( blue, .1 );
  a {
    @include unstyled-link;
  }
  .button-control {
    display: block;
    background: $bg-color;
    padding: .5 * $base-vmargin .5 * $base-hmargin;
    text-transform: uppercase;
  }
}

/*
 * Footer section
 */
#footer {
  background: $text-color;
  color: $bg-color;
  a {
    @include unstyled-link;
  }
}