
/**
 * LAYOUT
 */
#stage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0px;
  &.show {
    bottom: 170px;
  }
  background: #fafafa image-url('wallpaper.jpg') no-repeat bottom center;
  @include background-size(cover);
  overflow: hidden;
}

#stageinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  overflow: hidden;
}

#ritar {
  z-index:299;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  background-color:#eee;
  line-height:400px;
  text-align:center;
  position:absolute;
  font-size:30px;
  opacity:0;
  -webkit-transition:opacity 0.3s ease-in-out;
  &.show {
    opacity:1;
  }
}

.saveMessage {
  z-index:3000;
  
  position:absolute;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  .content {
    margin:20px auto;
    padding:20px;
    width:650px;
    background-color:#FFF;
    @include single-box-shadow(darken($bg-color, 30%), 0, 2px, 3px);
    input.drawingID {
      display:block;
      @include box-sizing(border-box);
      width:100%;
    }
    .drawingID {  
      background-color:#eee;
      padding:5px;
    }
    .button {
      margin-top:$base-vmargin;
    }
  }
}
#rita_offert {
  position:absolute;
  z-index:700;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
  .half{
    width:50%;
    float:left;
    input{
      width:40%;
    }
  }
  .clearLeft {
    clear:left;
  }
}




#floor {
  background: image-url('woodfloor.jpg') no-repeat top center;
  @include background-size(cover);
  border-top: 1px solid #f6e1cb;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100px;
  z-index: 20;
}

/**
 * GUIDE STEPS
 */
.guideform {
  display:none;
  &.show {
    display:block;
  }
}

.guidestep {
  text-align: center;
  z-index: 300;
  position: absolute;
  top: 6%;
  bottom: 3%;
  left: $base-hmargin;
  right: $base-hmargin;
  -webkit-transition:opacity 1s ease-out;
  opacity:1;
  &.hide {
    opacity:0;
  }
  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .content {
    position: absolute;
    top: 90px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .choice, .offertform {
    @include single-transition(background-color);
    @include inline-block;
    @include box-sizing( border-box );

    background-color: $text-color;
    color: darken( $bg-color, 10% );

    cursor: pointer;

    font-size: $large-font-size;
    vertical-align: top;

    margin: $base-vmargin 1%;
    padding: $base-vmargin $base-hmargin;
    width: 26%;

    &:hover {
      background-color: darken( $text-color, 10% );
      color: $bg-color;
    }

    img {
      display:block;
      margin: 0 auto;
      max-height: 70%;
      max-width: 100%;
    }
  }
}
#rita_start.guidestep {
  .choice {
    img {
      max-height: 20%;
    }
  }
}
#rita_base.guidestep {
  .choice {
    width: 50%;
  }
}
.guidestep .choice, .offertform {
  .item {
    margin-bottom: .5 * $base-vmargin;
    label {
      @include inline-block;
      text-align: right;
      margin-right: .5em;
      width: 40%;
    }
    input {
      @include inline-block;
      background: darken($text-color, 15%);
      border: 1px solid lighten($text-color, 15%);
      color: $bg-color;
      text-align: right;
      margin-left: .5em;
      padding: .5em;
      width: 15%;
    }
  }
}

/**
 * CONTROLS
 */
#controls {
  background: $bg-color;

  position: absolute;
  z-index: 400;
  height: 170px;
  left: 0;
  right: 0;
  bottom: 0;

  display:none;
  &.show {
    display:block;
  }

  .sektion {
    @include box-sizing(border-box);
    float: left;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: auto;

    &.dark {
      background-color: $text-color;
      color: $bg-color;
    }
  }
}
#sektionlist.sektion {
  border-right: 1px solid darken( $text-color, 5% );
  list-style: none;

  li {
    cursor: pointer;
    font-weight: bold;

    padding: .5 * $base-vmargin 2 * $base-hmargin;
    @media screen and (max-width: $break-large) {
      padding: .5 * $base-vmargin 1 * $base-hmargin;
    }
    &.active,
    &:hover {
      background-color: darken( $text-color, 15% );
      color: white;
    }
    &.error {
      color: $warning-text-color;
    }
  }
}
#sektionform.sektion {
  border-left: 1px solid lighten( $text-color, 5% );
  border-right: 1px solid darken( $text-color, 5% );

  padding: .5 * $base-vmargin 2 * $base-hmargin;
  @media screen and (max-width: $break-large) {
    padding: .5 * $base-vmargin 1 * $base-hmargin;
  }
  //width: 21em;
  form {
    input {
      @include inline-block;
      background: darken($text-color, 15%);
      border: 1px solid lighten($text-color, 15%);
      color: $bg-color;
      margin-left: .5em;
      padding: .5em;
      width: 4em;
    }
    label {
      @include inline-block;
      font-weight: bold;
      width: 10em;

      .minmax {
        color: darken( $bg-color, 30% );
        font-weight: normal;

        &:before {
          content: ' ('
        }
        &:after {
          content: ')'
        }

        .minval {
          &:after {
            content: '–';
          }
        }
      }
    }
    .error {
      label {
        color: $warning-text-color;
      }
      input {
        color: $warning-text-color;
      }
    }
  }

}

/**
 * LEGEND
 */
#fillwith.sektion {
  padding: .5 * $base-vmargin 2 * $base-hmargin;

  @media screen and (max-width: $break-large) {
    padding: .5 * $base-vmargin 1 * $base-hmargin;
  }

  form {
    margin-top: $base-vmargin;
    .inputgroup {
      display: block;
      font-weight: bold;
      margin-bottom: .5 * $base-vmargin;
    }
    .max {
      color: lighten( $text-color, 30% );
      font-weight: normal;
      &:before {
        content: ' (';
      }
      &:after {
        content: ')';
      }
    }
  }
}

/**
 * ORDER INFO
 */
#price {
  float: right;
  padding: .5 * $base-vmargin 2 * $base-hmargin;

  .price {
    display: block;
    padding: .5em 0;
  }

  text-align: right;
  .label,
  .note {
    display: block;
    font-size: $small-font-size;
  }
  .value {
    display: block;
    font-size: $large-font-size;
    font-weight: bold;
  }
  .note {
    color: lighten( $text-color, 30% );
  }

  .button {
    @include button(soft);
    margin: .5em auto;
  }
}



@media screen and (max-width: $break-large) {
    #sektionlist {
      float:none;
      width:100%;
      height:auto !important;
      border-bottom:solid 1px darken( $text-color, 15% );
    }
    .sektion {
      float:none;
      width:100%;
      height:auto !important;
      border-bottom:solid 1px darken( $text-color, 15% );
    }
    #fillwith {
      background-color: $text-color;
      color:#FFF;
    }
    #price {
      .label {
        line-height:20px;
        margin-bottom:-5px;
      }
      background-color: $text-color;
      color:#FFF;
      float:none;
      height:auto !important;
      display:block;
      padding: .5 * $base-vmargin 1 * $base-hmargin;
    }
}
