
@mixin button ( $_theme: false ) {
  $_bg-color: $bg-color;
  $_text-color: $text-color;
  
  @include border-radius;
  @include transition;
  @include unstyled-link;

  @if ( $_theme == soft ) {
    $_bg-color: darken($bg-color, 15%);
    $_text-color: lighten($text-color, 15%);
  }
  @if ( $_theme == inverted ) {
    $_bg-color: $text-color;
    $_text-color: $bg-color;
  }
  @else if ( $_theme == decor ) {
    $_bg-color: $decor-bg-color;
    $_text-color: $decor-text-color;
  }

  background: $_bg-color;
  border: 1px solid $_bg-color;
  color: $_text-color;

  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 1;

  @include box-shadow(darken($_bg-color, 15%) 0 1px 0, lighten($_bg-color, 15%) 0 1px 0 0 inset);

  display: block;
  padding: .5 * $base-vmargin .5 * $base-hmargin;
  
  &:focus,
  &:hover {
    background: $decor-bg-color;
    color: $decor-text-color;
    border-color: $decor-bg-color;

    text-decoration: none;

    @include box-shadow(darken($decor-bg-color, 15%) 0 1px 0, lighten($decor-bg-color, 15%) 0 1px 0 0 inset);
  }
}

.button {
  @include button(soft);
}
