
@mixin button ( $_theme: false ) {
  $_bg-color: $bg-color;
  $_text-color: $text-color;
  
  @include border-radius;
  @include transition;
  @include unstyled-link;

  @if ( $_theme == inverted ) {
    $_bg-color: $text-color;
    $_text-color: $bg-color;
  }
  @else if ( $_theme == decor ) {
    $_bg-color: $decor-bg-color;
    $_text-color: $decor-text-color;
  }

  background: $_bg-color;
  color: $_text-color;

  display: block;
  padding: .5 * $base-vmargin .5 * $base-hmargin;
  
  &:focus,
  &:hover {
    background: $_text-color;
    color: $_bg-color;
  }
}