
@mixin nav-list {
  margin: 0;
  padding: 0;
  list-style: 0;
  li {
    @include inline-block;
    a {
      display: block;
      font-size: $small-font-size;
      padding: .5 * $base-vmargin .5 * $base-hmargin;
    }
  }
}
