<div class="page-header">
    <h1>New order</h1>
</div>

<% form_for(order, {action: path_to.orders(), method: 'POST', id: "order_form", class: 'form-horizontal'}, function (form) { %>
    <%- partial('orders/form.ejs', {locals: {form: form, order: order}}) %>
    <div class="form-actions">
        <%- form.submit('<i class="icon-ok icon-white"></i> Create order', {class: 'btn btn-primary'}) %> or
        <%- link_to('Cancel', path_to.orders(), {class: 'btn'}) %>
    </div>
<% });%>
